# Игнорировать временные файлы и архивы
*.tar.gz
*.log

# Игнорировать бэкапы crontab
crontab_*

# Игнорировать временную директорию
/tmp/backup

# Игнорировать AWS credentials (если вдруг сюда попадут)
.aws/
